<figure>
	<pre><code class="xml" data-lang="xml">&lt;uses-permission android:name="android.permission.CALL_PHONE"/&gt;
&lt;uses-permission android:name="android.permission.READ_PHONE_STATE"/&gt;
&lt;uses-permission android:name="android.permission.RECEIVE_SMS"/&gt;
&lt;uses-permission android:name="android.permission.READ_SMS"/&gt;
&lt;uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/&gt;
&lt;uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/&gt;
&lt;uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/&gt;
&lt;uses-permission android:name="android.permission.WAKE_LOCK"/&gt;
&lt;uses-permission android:name="android.permission.INTERNET"/&gt;
&lt;uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /&gt;
&lt;uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/&gt;

&lt;uses-feature android:name="android.hardware.telephony"/&gt;</code></pre>
</figure>
