<aside class="menu">
  {% for item in site.data.sidebar.menu %}
      <ul class="menu-section menu-list">
        {% for entry in item.links %}
          {% if entry.external_link == true %}
            <li>
              <a href="{{ entry.url }}" class="pop" target="_blank" >{{ entry.page }}</a>
            </li>
          {% else %}
            <li {% if page.url == entry.url %} class="is-active" {% endif %}>
              <a href="{{ entry.url | relative_url }}">{{ entry.page }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <a href="blog.usehover.com" class="is-invisible canonical">Blog</a>
      </ul>
  {% endfor %}
</aside>
