<figure>
	<pre><code class="xml" data-lang="xml">
&lt;resources&gt;

	&lt;style name="myHoverTheme" parent="@style/HoverTheme.Base" /&gt;
	&lt;style name="HoverTheme.Base" parent="Theme.AppCompat.Light.NoActionBar"/&gt;

		&lt;item name="android:windowActionBar"/&gt;true&lt;/item/&gt;
		&lt;!-- Customize your theme here. --/&gt;
		&lt;item name="colorPrimary"/&gt;@color/colorPrimary&lt;/item/&gt;
		&lt;item name="colorPrimaryDark"/&gt;@color/colorPrimaryDark&lt;/item/&gt;
		&lt;item name="colorAccent"/&gt;@color/colorAccent&lt;/item/&gt;
		&lt;item name="hover_primaryColor"/&gt;@color/colorPrimaryDark&lt;/item/&gt;
		&lt;item name="hover_textColor"/&gt;@color/colorPureWhite&lt;/item/&gt;
		&lt;item name="hover_textColorTitle"/&gt;@color/colorHoverWhite&lt;/item/&gt;
		&lt;item name="hover_pinEntryColor"/&gt;@color/colorPureWhite&lt;/item/&gt;

		&lt;item name="hover_pinTheme"/&gt;@style/PinButtonTheme&lt;/item/&gt;
		&lt;item name="hover_posTheme"/&gt;@style/PosButtonTheme&lt;/item/&gt;
		&lt;item name="android:windowContentTransitions"/&gt;true&lt;/item/&gt;

	&lt;/style&gt;


	&lt;style name="PinButtonTheme" parent="Widget.AppCompat.Button.Borderless"/&gt;
		&lt;item name="android:textColor"/&gt;@color/colorPureWhite&lt;/item/&gt;
		&lt;item name="android:textSize"/&gt;24sp&lt;/item/&gt;
		&lt;item name="android:background"/&gt;@color/colorPrimaryDark&lt;/item/&gt;
		&lt;item name="android:typeface"/&gt;normal&lt;/item/&gt;
		&lt;item name="android:textAllCaps"/&gt;true&lt;/item/&gt;
	&lt;/style&gt;

	&lt;style name="PosButtonTheme" parent="Widget.AppCompat.Button.Colored"/&gt;
		&lt;item name="android:textColor"/&gt;@color/colorPureWhite&lt;/item/&gt;
		&lt;item name="background"/&gt;@color/colorPrimary&lt;/item/&gt;
		&lt;item name="android:typeface"/&gt;normal&lt;/item/&gt;
		&lt;item name="android:textAllCaps"/&gt;false&lt;/item/&gt;
	&lt;/style&gt;
&lt;/resources&gt;</code></pre>
</figure>

