<figure>
	<pre><code class="java" data-lang="java">public class TransactionReceiver extends BroadcastReceiver {
	public TransactionReceiver() { }

	@Override
	public void onReceive(Context context, Intent intent) {
		String uuid = intent.getStringExtra("uuid");
		String confirmationCode, balance;
		if (intent.hasExtra("parsed_variables")) {
			HashMap&lt;String, String&gt; parsed_variables = (HashMap&lt;String, String&gt;) intent.getSerializableExtra("parsed_variables");
			if (parsed_variables.containsKey("confirmCode"))
				confirmationCode = parsed_variables.get("confirmCode");
			if (parsed_variables.containsKey("balance"))
				balance = parsed_variables.get("balance");
		}
	}
}</code></pre>
</figure>
