#country-select {
	background-color: transparent;
	color: #F1F1F4;
	border: 1px solid #F1F1F1;
	padding: 16px;
	font-size: 34px;
	width:  100%;
}

#country-select option {
	font-size: 16px;
	color: #F1F1F1;
	background-color: #1E232A;
}

.head-divider {
	background-color: #FF4C00;
	border: none;
	display: block;
	height: 1px;
	margin: 0.5rem 0; 
}

#channel-list h3 {
	display: inline-block;
}

.channel-info {
	padding-top: 31px;
}

td {
	vertical-align: middle !important;
}


img.logo {
  border-radius: 50%;
}